@import './variables';

%flex-wrap-wrap {
  display: flex;
  flex-wrap: wrap;
}

%flex-jc-sb {
  display: flex;
  justify-content: space-between;
}

%flex-col-aic {
  display: flex;
  flex-direction: column;
  align-items: center;
}

%form {
  @extend %flex-wrap-wrap;
  max-width: 540px;
  min-width: 350px;
  width: 100%;
  padding: 10px;
}

%wrapperInputs {
  @extend %flex-wrap-wrap;
  justify-content: space-between;
}

%wrapperInput {
  position: relative;
  width: 48%;
  padding-bottom: 15px;
  @media screen and (max-width: 693px) {
    width: 100%;
  }
}

%input {
  width: 100%;
  margin-top: 5px;
  padding: 25px;
  border: 2px solid;
  border-radius: 4px;
  background-color: $white-color;
  color: $lite-grey-color;
  outline: none;
  @media screen and (max-width: 693px) {
    padding: 15px;
    font-size: 14px;
  }
}

%inputValid{
  border: 2px solid $green-color;
}

%inputInvalid{
  border: 2px solid $red-color;
}

%smText {
  font-size: 13px;
}

%heading {
  margin-bottom: 10px;
  font-size: 34px;
  font-weight: bold;
  @media screen and (max-width: 693px) {
    text-align: center;
    font-size: 20px;
  }
}

%error {
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
  margin: 5px 0px;
  border-radius: 4px;
  color: $red-color;
  font-size: 10px;
  text-align: center;
  font-weight: bold;
}

%btn {
  width: 100%;
  margin: 10px 0;
  padding: 22px;
  border: none;
  border-radius: 4px;
  background-color: $aqua-color;
  color: $white-color;
  font-weight: bold;
  text-align: center;
}

%btnGoogle {
  @extend %btn;
  padding: 15px;
  background-color: $red-color;
}

%labelCheckbox {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 15px;
}

%checkBox {
  display: inline-block;
  margin: 0 15px;
}

%text {
  width: 100%;
  margin: 10px 0 5px;
  text-align: center;
}